*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first-section{
    width: 430px;
    height: 430px;
    margin: 0 auto;
    background-image: url('../images/image-bg.svg');
    background-size: cover;
}
.img-hero img{
    width: 370px;
    height: 350px;
    transform: translate(36px, -6px);
}
.logo img{
    width: 100px;
    margin: 20px 0 0 20px;
}
.title-download{
    font-size: 30px;
    text-align: center;
}
.title-section  {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #151453;
    margin: 16px 0;
  }
  .img-download {
    width: 200px;
    height: 70px;


  }
.img-download-app{
    width: 200px;
    height: 60px;

}
  .images-download{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    transform: translate(40px, 10px);
  }
  .footer-logo{
    transform: translate(66px, 140px);  }
  .footer-section{
    background-image: url(../images/footer.svg);
    background-size: cover;
    width: 430px;
    height: 308px;
    margin: 40px auto;
  }
  .info-title{
    font-size: 28px;
    transform:  translate(-30px, 140px);
  }

  .phone{
    width: 45px;
    padding: 10px;
}
.info-phone ,.info-mail{
    font-size:19px
}
.phone-num{
    color: #151453;
    font-size:18px;
    font-weight: bold;

}
.info-mail-text{
    color: #151453;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    margin: 0 4px;
}
.support-text{
    font-size: 19px;
    color: #151453;
    font-weight: bold;}